* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #1f2833;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #131920;
}

::-webkit-scrollbar-thumb {
    background-color: #66fcf1;
    border-radius: 6px;
}

/* Splash Screen */
.splashScreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1f2833;
    z-index: 200;
    opacity: 100%;
    transition: all 1s ease 0s;
}

.splashScreen.fadeOut {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1f2833;
    z-index: -10;
    opacity: 0%;
    transition: all 1s ease 0s;
}

#splashLogo {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -80px;
    margin-top: -80px;
    overflow: visible;
    animation: fillLogo 2s ease forwards 5.5s;
}

#splashLogo path {
    stroke-dashoffset: 2921.076904296875;
    stroke-dasharray: 2921.076904296875;
    animation: drawLines 10s ease-in-out forwards;
}

#theS {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -75px;
    margin-top: -75px;
    opacity: 0%;
    animation: sAppear 3s ease forwards 5.5s;
}

@keyframes drawLines {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillLogo {
    from {
        fill: transparent;
    }
    to {
        fill: #66fcf1;
        filter: drop-shadow(0 0 5px #66fcf1);
    }
}

@keyframes sAppear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
        filter: drop-shadow(0 0 5px #66fcf1);
    }
}


/* Navigation Bar */
.navBar {
    display: flex;
    height: 100px;
    background-color: #131920;
    box-shadow: 0 0 20px #131920;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo img {
    width: 15%;
    flex-shrink: 0;
    transition: all 0.3s ease 0s;
}

.navLinks li {
    list-style: none;
    display: inline;
    padding: 0 15px;
}

.navLinks a {
    display: inline-block;
    color: #c5c6c7;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease 0s;
}

.logo img:hover {
    transform: rotate(-10deg) scale(1.1);
    filter: drop-shadow(0 0 5px #66fcf1);
}

.navLinks a:hover {
    transform: rotate(5deg) scale(1.1);
    color: #66fcf1;
    text-shadow: 0 0 15px #66fcf1;
}

