html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

:root {
    --bg-color: #1f2833;
    --navBar-color: #131920;
    --title-color: #66fcf1;
    --header-color: #45a29e;
    --bodyText-color: #c5c6c7;
    --highlight-color: #fcbf49;
}

body {
    background-color: var(--bg-color);
    overflow-y: hidden;
}

body[data-aos-delay='7500'] [data-aos],
[data-aos][data-aos][data-aos-delay='7500'] {
  transition-delay: 7500ms;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--navBar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--title-color);
    border-radius: 6px;
}

/* Splash Screen */
.splashScreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 5000;
    opacity: 100%;
    transition: all 1s ease 0s;
}

.splashScreen.fadeOut {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: -10;
    opacity: 0%;
    transition: all 1s ease 0s;
}

#splashLogo {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -80px;
    margin-top: -80px;
    overflow: visible;
    animation: fillLogo 2s ease forwards 4.2s;
}

#splashLogo path {
    stroke-dashoffset: 2921.076904296875;
    stroke-dasharray: 2921.076904296875;
    animation: drawLines 8s ease-in-out forwards;
}

#theS {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -75px;
    margin-top: -75px;
    opacity: 0%;
    animation: sAppear 3s ease forwards 4.2s;
}

@keyframes drawLines {
    from {
        stroke: var(--header-color);
    }
    to {
        stroke: var(--title-color);
        stroke-dashoffset: 0;
    }
}

@keyframes fillLogo {
    from {
        fill: transparent;
    }
    to {
        fill: var(--title-color);
        filter: drop-shadow(0 0 5px var(--title-color));
    }
}

@keyframes sAppear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
        filter: drop-shadow(0 0 5px var(--title-color));
    }
}


/* Navigation Bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: all 0.8s ease 0s;
    padding: 15px 60px;
}

header.navFadeIn {
    padding: 5px 60px;
    background-color: var(--navBar-color);
    box-shadow: 0 0 20px var(--bodyText-color);
}

header.navFadeOut {
    top: -100px;
}

header .logo {
    position: relative;
    transition: all 0.5s ease 0s;
}

header .logo img {
    width: 75px;
    transition: all 0.3s ease 0s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    padding: 0 20px;
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--bodyText-color);
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease 0s;
}

header .logo img:hover {
    transform: rotate(-10deg) scale(1.1);
    filter: drop-shadow(0 0 2px var(--title-color));
}

header ul li a:hover {
    transform: rotate(5deg) scale(1.15);
    color: var(--title-color);
    text-shadow: 0 0 15px var(--title-color);
}

.onlyMobile {
    display: none;
}

/* body content */
.landing {
    width: 100%;
    height: 100vh;
}

/* particle-js */
#particles-js {
    position: absolute;
    width: inherit;
    height: inherit;
}

/* landing content */
.landingContent {
    margin: 0;
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: inherit;
    align-items: center;
    text-align: center;
}

.landingIntro {
    white-space: nowrap;
}

.iconLinks i {
    padding: 0 20px;
    color: var(--bodyText-color);
    opacity: 30%;
    transition: all 0.3s ease 0s;
}

.iconLinks i:hover {
    color: var(--title-color);
    opacity: 80%;
    filter: drop-shadow(0 0 5px var(--title-color));
    transform: scale(1.1);
    cursor: pointer;
}

.mainContent {
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 0 50px var(--navBar-color);
}

.sectionContent {
    padding: 150px 20vw;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    background-color: #1d232b;
}

.expSummary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.compLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    background-color: var(--bodyText-color);
    border-radius: 10%;
    transition: all 0.3s ease 0s;
}

.compLogo:hover {
    background-color: white;
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}

.overview {
    padding-left: 20px;
}

.contentHeader {
    font-size: 24px;
}

.contentSub {
    color: var(--title-color);
    font-size: 18px;
}

.contentSmall {
    font-size: 14px;
    color: #c5c6c7b3;
}

.contentDesc {
    color: var(--bodyText-color);
    font-size: 18px;
    padding: 0 10px 0 0;
}

.contentDesc.right {
    padding: 0 0 0 10px;
}

.projContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    border: 1px solid #c6c7c833;
    border-radius: 2%/8%;
    transition: all 0.3s ease 0s;
}

.projContainer.right {
    text-align: right;
}

.projContainer:hover {
    box-shadow: 0 0 20px var(--bodyText-color);
    transform: scale(1.01);
}

.projImg {
    position: relative;
    padding: none;
}

.projImg img {
    width: 500px;
    height: 260px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: 1px solid var(--bg-color);
}

.projImg.private {
    cursor: default;
}

.overlayContent {
    position: absolute;
    width: 100%;
    height: 260px;
    top: 0;
    left: 0;
    text-align: center;
    color: var(--title-color);
    font-size: 26px;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.overlayContent.private {
    color: red;
}

.overlayContent:hover {
    background-color: #131920e6;
    opacity: 100%;
}

.projTech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 16px;
    color: var(--highlight-color);
    text-shadow: 0 0 10px var(--highlight-color);
}

.projTech>div {
    padding: 0 10px;
}

.projLink a {
    display: inline-block;
    padding-top: 20px;
    color: var(--bodyText-color);
    opacity: 30%;
    transition: all 0.3s ease 0s;
}

.projLink a:hover {
    color: var(--title-color);
    opacity: 80%;
    filter: drop-shadow(0 0 5px var(--title-color));
    transform: scale(1.1);
    cursor: pointer;
}

.contactContent {
    padding: 150px 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mailIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.glowingArrow {
    animation: pulseGlow 2s linear infinite;
    color: var(--title-color);
}

@keyframes pulseGlow {
    0% {
        filter: drop-shadow(0 0 0 var(--title-color));
    }
    40% {
        filter: drop-shadow(0 0 20px var(--title-color));
    }
    80% {
        filter: drop-shadow(0 0 10px var(--title-color));
    }
    100% {
        filter: drop-shadow(0 0 0 var(--title-color));
    }
}

.footerContent {
    width: 100%;
    background-color: var(--navBar-color);
    box-shadow: 0 0 20px var(--navBar-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footerMe {
    padding-bottom: 20px;
    color: var(--highlight-color);
    font-size: 20px;
    font-weight: 300;
}

.credits {
    padding-top: 40px;
    color: var(--highlight-color);
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    text-shadow: 0 0 10px var(--highlight-color);
}

/* constant styles */

.headerParaBreak {
    padding: 30px 0;
}

.paraBreak {
    padding: 20px 0;
}

.descBreak {
    padding: 5px 0;
}

hr {
    margin: auto;
    width: 50vw;
    border-radius: 50%;
    opacity: 80%;
    filter: drop-shadow(0 0 20px #66fcf1)
}

.subTitleText {
    color: var(--header-color);
    font-size: 26px;
}

.titleText {
    color: var(--title-color);
    font-size: 40px;
}

.bodyContent {
    color: var(--bodyText-color);
    font-size: 20px;
}

.contactLink a {
    display: inline-block;
    text-decoration: none;
    color: var(--highlight-color);
    font-size: 24px;
    transition: all 0.3s ease 0s;
}

.contactLink a:hover {
    text-shadow: 0 0 20px var(--bodyText-color);
}

.highlightBodyText {
    color: var(--highlight-color);
    font-size: 24px;
}

.subText {
    color: var(--bodyText-color);
    font-size: 16px;
    font-weight: 300;
}

@media all and (max-width: 1500px){
    .onlyMobile {
        display: block;
    }

    .menuHamburger {
        width: 50px;
        height: 6px;
        background: var(--bodyText-color);
        border-radius: 5px;
        box-shadow: 0 0 5px var(--header-color);
        transition: all 0.3s ease 0s;
        z-index: 1000;
    }

    .menuHamburger::before, .menuHamburger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: var(--bodyText-color);
        border-radius: 5px;
        box-shadow: 0 0 5px var(--header-color);
        transition: all 0.3s ease 0s;
    }

    .menuHamburger::before {
        transform: translateY(-16px);
    }

    .menuHamburger::after {
        transform: translateY(16px);
    }

    .menuHamburger.open {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }

    .menuHamburger.open::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menuHamburger.open::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    header ul {
        position: fixed;
        top: 0;
        right: -500px;
        margin-left: auto;
        padding: 100px 0;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        width: 400px;
        text-align: center;
        background-color: var(--navBar-color);
        transition: all 0.5s ease 0s;
    }

    header ul li {
        padding-top: 75px;
    }

    
    .projContainer {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .projContainer.right {
        flex-direction: column;
        text-align: left;
    }

    .projTech {
        justify-content: flex-start;
    }

    .contentDesc.right {
        padding: 0;
    }


}

@media all and (max-width: 950px){
    .headerParaBreak {
        padding: 20px 0;
    }
    
    .paraBreak  {
        padding: 20px 0;
    }

    .mainContent {
        text-align: center;
        padding: 0 2px;
    }

    header .logo img {
        width: 75px;
    }

    .landingContent {
        padding: 120px 5px 60px 5px;
    }

    .sectionContent {
        padding: 100px 10px;
    }

    .expSummary {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overview {
        padding-left: 0;
    }

    .projContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none;
    }

    .projContainer:hover {
        box-shadow: none;
    }

    .projContainer.right {
        flex-direction: column;
        text-align: center;
    }

    .projImg img {
        width: 80vw;
        height: auto;
    }

    .projTech {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .overlayContent {
        width: 50vw;
        height: 25vw;
    }

    .projTech, .iconLinks {
        white-space: nowrap;
    }

    .contactContent {
        padding: 100px 10px;
    }

    .footerContent {
        padding: 50px 10px;
    }

    .footerMe {
        font-size: 16px;
    }
}