* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

:root {
    --bg-color: #1f2833;
    --navBar-color: #131920;
    --title-color: #66fcf1;
    --header-color: #45a29e;
    --bodyText-color: #c5c6c7;
    --highlight-color: #fcbf49;
}

body {
    background-color: var(--bg-color);
    /* overflow-y: hidden; */
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--navBar-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--title-color);
    border-radius: 6px;
}

/* Splash Screen */
.splashScreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: 200;
    opacity: 100%;
    transition: all 1s ease 0s;
}

.splashScreen.fadeOut {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    z-index: -10;
    opacity: 0%;
    transition: all 1s ease 0s;
}

#splashLogo {
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -80px;
    margin-top: -80px;
    overflow: visible;
    animation: fillLogo 2s ease forwards 4.2s;
}

#splashLogo path {
    stroke-dashoffset: 2921.076904296875;
    stroke-dasharray: 2921.076904296875;
    animation: drawLines 8s ease-in-out forwards;
}

#theS {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -75px;
    margin-top: -75px;
    opacity: 0%;
    animation: sAppear 3s ease forwards 4.2s;
}

@keyframes drawLines {
    from {
        stroke: var(--header-color);
    }
    to {
        stroke: var(--title-color);
        stroke-dashoffset: 0;
    }
}

@keyframes fillLogo {
    from {
        fill: transparent;
    }
    to {
        fill: var(--title-color);
        filter: drop-shadow(0 0 5px var(--title-color));
    }
}

@keyframes sAppear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
        filter: drop-shadow(0 0 5px var(--title-color));
    }
}


/* Navigation Bar */
.navBar {
    position: sticky;
    display: flex;
    height: 100px;
    background-color: var(--navBar-color);
    box-shadow: 0 0 20px var(--navBar-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 50;
}

.logo img {
    width: 75px;
    transition: all 0.3s ease 0s;
}

.navLinks li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}

.navLinks a {
    display: inline-block;
    color: var(--bodyText-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s ease 0s;
}

.logo img:hover {
    transform: rotate(-10deg) scale(1.1);
    filter: drop-shadow(0 0 2px var(--title-color));
}

.navLinks a:hover {
    transform: rotate(5deg) scale(1.1);
    color: var(--title-color);
    text-shadow: 0 0 15px var(--title-color);
}

/* body content */
.landing {
    width: 100%;
    height: 90vh;
}

/* particle-js */
#particles-js {
    position: absolute;
    width: inherit;
    height: inherit;
}

/* landing content */
.landingContent {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    width: inherit;
    align-items: center;
    text-align: center;
}

.iconLinks i {
    padding: 0 20px;
    color: var(--bodyText-color);
    opacity: 30%;
    transition: all 0.3s ease 0s;
}

.iconLinks i:hover {
    color: var(--title-color);
    opacity: 80%;
    filter: drop-shadow(0 0 5px var(--title-color))
}

.mainContent {
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 0 50px var(--navBar-color);
}

.sectionContent {
    display: flex;
    flex-direction: row;
    width: 100%,
}

/* constant styles */

.paraBreak {
    padding: 30px 0;
}

.subTitleText {
    color: var(--header-color);
    font-size: 26px;
}

.titleText {
    color: var(--title-color);
    font-size: 50px;
}

.bodyContent {
    color: var(--bodyText-color);
    font-size: 20px;
}

.highlightBodyText {
    color: var(--highlight-color);
    font-size: 24px;
}

.subText {
    color: var(--bodyText-color);
    font-size: 16px;
    font-weight: 300;
}