.landing {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--landingBackgroundColor);
}

.particles {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

@media all and (max-width: 480px) {
    .particles {
        display: none;
    }
}

.introContainer {
    padding: 2em;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landingHeader {
    position: relative;
    z-index: 800;
    color: var(--headerColor);
    font-size: 1.5rem;
}

.landingTitle {
    position: relative;
    z-index: 800;
    color: var(--titleColor);
    font-size: 2.5rem;
    line-height: 3rem;
}

.landingBody {
    position: relative;
    z-index: 800;
    color: var(--landingBodyTextColor);
    font-size: 1.2rem;
}

.headerIconLinks {
    position: relative;
    z-index: 800;
    font-size: 3rem;
}

.headerIconLinks a {
    position: relative;
    z-index: 800;
    display: inline-block;
    color: var(--landingBodyTextColor);
    opacity: 0.4;
    padding: 0 1rem;
    transition: all 0.3s ease 0s;
}

.headerIconLinks a:hover {
    color: var(--titleColor);
    filter: drop-shadow(0 0 5px var(--titleColor));
    opacity: 1;
    transform: scale(1.05);
}

.landingSub {
    position: relative;
    z-index: 800;
    color: var(--landingBodyTextColor);
    font-size: 0.8rem;
    font-weight: 300;
}

.startView {
    position: absolute;
    bottom: 0;
    font-size: 2.5rem;
}

.startView a {
    display: inline-block;
    color: var(--titleColor);
    animation: bounceArrow 2s infinite;
}

@keyframes bounceArrow {
    0% {
        transform: translateY(0);
        filter: drop-shadow(0 0 0px var(--titleColor));
    }
    40% {
        transform: translateY(-1rem);
        filter: drop-shadow(0 0 5px var(--titleColor));
    }
    60% {
        transform: translateY(0);
        filter: drop-shadow(0 0 0px var(--titleColor));
    }
    80% {
        transform: translateY(-0.5rem);
        filter: drop-shadow(0 0 5px var(--titleColor));
    }
    100% {
        transform: translateY(0);
    }
}

.sepBar {
    position: absolute;
    bottom: -5;
    width: 100%;
    height: 3px;
    background-color: var(--contrastColor);
}