.splashScreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1f2833;
    z-index: 5000;
    transition: all 0.5s ease 0s;
}

.splashScreen.fadeBack {
    opacity: 0;
    z-index: -10;
}

#myLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 15em;
    animation: fillLogo 1s ease 3s forwards;
}

#myLogo path:nth-child(1) {
    stroke-dasharray: 326.38812255859375;
    stroke-dashoffset: 326.38812255859375;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(2) {
    stroke-dasharray: 355.5840148925781;
    stroke-dashoffset: 355.5840148925781;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(3) {
    stroke-dasharray: 321.90869140625;
    stroke-dashoffset: 321.90869140625;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(4) {
    stroke-dasharray: 366.57940673828125;
    stroke-dashoffset: 366.57940673828125;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(5) {
    stroke-dasharray: 326.38873291015625;
    stroke-dashoffset: 326.38873291015625;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(6) {
    stroke-dasharray: 355.5832214355469;
    stroke-dashoffset: 355.5832214355469;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(7) {
    stroke-dasharray: 319.6272888183594;
    stroke-dashoffset: 319.6272888183594;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(8) {
    stroke-dasharray: 322.321044921875;
    stroke-dashoffset: 322.321044921875;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(9) {
    stroke-dasharray: 321.90863037109375;
    stroke-dashoffset: 321.90863037109375;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}
#myLogo path:nth-child(10) {
    stroke-dasharray: 396.3233947753906;
    stroke-dashoffset: 396.3233947753906;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: animateLines 3s ease forwards;
}

@keyframes animateLines {
    from {
        stroke: #c5c6c7;
    }
    to {
        stroke: #45a29e;
        stroke-width: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes fillLogo {
    from {
        fill: transparent;
    }
    to {
        fill: #66fcf1;
        filter: drop-shadow(0 0 10px #66fcf1);
    }
}

#shaoIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 25em;
    opacity: 0%;
    animation: logoAppear 2s ease 3s forwards;
}

@keyframes logoAppear {
    to {
        opacity: 10%;
        fill: #45a29e;
    }
}