.contact {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--landingBackgroundColor);
    border-top: 5px solid var(--contrastColor);
    border-radius: 30rem 30rem 0 0 / 4rem 4rem 0 0;
}

.contactContent {
    padding: 10rem 2rem;
    text-align: center;
}

.contactHeader {
    color: var(--landingBodyTextColor);
    font-size: 2rem;
    font-weight: 600;
}

.contactSubHeader {
    color: var(--titleColor);
    font-size: 1.3rem;
    font-weight: 400;
}

.contactSub {
    color: var(--landingBodyTextColor);
    font-size: 0.8rem;
    font-weight: 300;
}

.contactBody {
    color: var(--landingBodyTextColor);
    font-size: 1.2rem;
    font-weight: 400;
}

.connectContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.connectContact>div {
    padding: 0 1rem;
    font-size: 2.5rem;
}

.connectContact>div>a {
    color: var(--landingBodyTextColor);
    opacity: 0.4;
    transition: all 0.3s ease 0s;
}

.connectContact>div>a:hover {
    color: var(--titleColor);
    filter: drop-shadow(0 0 10px var(--titleColor));
    opacity: 1;
}

.glowingArrow {
    animation: pulseGlow 2s linear infinite;
    color: var(--contrastColor);
}

@keyframes pulseGlow {
    0% {
        filter: drop-shadow(0 0 0 var(--contrastColor));
    }
    40% {
        filter: drop-shadow(0 0 20px var(--contrastColor));
    }
    80% {
        filter: drop-shadow(0 0 10px var(--contrastColor));
    }
    100% {
        filter: drop-shadow(0 0 0 var(--contrastColor));
    }
}

@media all and (max-width: 480px) {
    .contactSubHeader {
        font-size: 1.05rem;
        font-weight: 400;
    }

    .contactBody {
        font-size: 0.95rem;
        font-weight: 400;
    }
}