@import '../../index.css';

nav {
    position: fixed;
    width: 100%;
    height: 5rem;
    text-align: right;
    padding: 1rem 2rem;
    transition: all 0.5s ease 0s;
    z-index: 900;
}

@media all and (min-width: 950px) {
    nav.scrollUp {
        top: 0;
        background-color: var(--navBarColor);
        box-shadow: 0 0 10px var(--navBarColor);
    }

    nav.scrollDown {
        top: -10rem;
    }
}

nav ul {
    transition: all 0.5s ease 0s;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 0 1.5rem;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    color: var(--titleColor);
    transform: scale(1.1);
    text-shadow: 0 0 10px var(--titleColor);
}

@media all and (max-width: 950px){
    nav {
        top: 0;
        right: -100vw;
        width: 40vw;
        height: 100vh;
        background-color: var(--navBarColor);
        display: flex;
        flex-direction: column;
        padding: 10vh 0 2vh 0;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    nav.open {
        right: 0;
        border-radius: 10% 0 0 10%;
        background-color: #131920f2;
    }

    nav ul li {
        display: block;
        padding: 2.5vh 0;
    }

    .hamburgerContainer {
        position: fixed;
        margin: 1em 2em;
        right: 0;
        top: 0;
        padding: 1.2em 0.7em;
        background-color: transparent;
        z-index: 1000;
    }

    .hamburgerMenu {
        position: relative;
        width: 2em;
        height: 0.2em;
        background-color: var(--titleColor);
        border-radius: 0.1em;
        transition: all 0.3s ease 0s;
    }

    .hamburgerMenu::before, .hamburgerMenu::after {
        content: '';
        position: absolute;
        width: 2em;
        height: 0.2em;
        background-color: var(--titleColor);
        border-radius: 0.1em;
        transition: all 0.3s ease 0s;
    }

    .hamburgerMenu::before {
        transform: translateY(-0.7em);
    }

    .hamburgerMenu::after {
        transform: translateY(0.7em);
    }

    .hamburgerMenu.open {
        transform: translateX(-5em);
        background-color: transparent;
    }

    .hamburgerMenu.open::before {
        transform: rotate(45deg) translate(3.5em, -3.5em);
    }

    .hamburgerMenu.open::after {
        transform: rotate(-45deg) translate(3.5em, 3.5em);
    }
}

@media all and (max-width: 600px){
    nav {
        width: 60vw;
    }
}

@media all and (max-width: 375px){
    nav {
        width: 80vw;
    }
}