.footer {
    padding: 2rem 0 0.5rem 0;
    background-color: var(--navBarColor);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--contrastColor);
}

.whoAmI {
    font-size: 1.2rem;
}

.doneBy {
    font-size: 0.8rem;
    font-weight: 300;
    text-shadow: 0 0 10px var(--contrastColor);
}

@media all and (max-width: 480px) {
    .whoAmI {
        font-size: 0.9rem;
    }
    
    .doneBy {
        font-size: 0.7rem;
        font-weight: 300;
        text-shadow: 0 0 10px var(--contrastColor);
    }
}