:root {
    --titleColor: #66fcf1;
    --headerColor: #45a29e;
    --navBarColor: #131920;
    --landingBackgroundColor: #1f2833;
    --backgroundColor: #ffffff;
    --backgroundColorAlt: #f1f1f1f1;
    --landingBodyTextColor: #c5c6c7;
    --bodyTextColor: #131920;
    --contrastColor: #e41376;
    --highlightColor: #fcbf49;

    font-size: 15px;
}

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--navBarColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--headerColor);
    border-radius: 0.6rem;
}

* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

.content {
    display: none;
}

.landingBreak {
    padding: 1rem 0;
}

@media all and (max-width: 950px) {
    :root {
        font-size: 14px;
    }
}

@media all and (max-width: 480px) {
    :root {
        font-size: 12px;
    }
}