.backToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    opacity: 1;
    z-index: 1000;
    transition: all 0.3s ease 0s;
}

.backToTop.top {
    opacity: 0;
}

.backToTop a {
    display: inline-block;
    color: var(--contrastColor);
}

.backToTop:hover {
    filter: drop-shadow(0 0 10px var(--contrastColor));
}